*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #dddde1;
}

.Outer-Container{
    width: 100%;
    height: 100vh;
    display: flex;
    margin: 0 auto;
}

.Outer-Container .nav{
    width: 8%;
    height: 100%;
    background-color:#252945;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-bottom-right-radius: 3%;
    overflow: hidden;
}

.nav .logo-container{
    width: 100%;
    height: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom-right-radius: 20%;
    background-color: #7C5DFA;
    position: relative;
}

.logo-container .top-half{
    width: 100%;
    height: 50%;
    background-color: #7C5DFA;
  
}

.logo-container .bottom-half{
    width: 100%;
    height: 50%;
    background-color: #9277FF;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

.nav .logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40%;
    object-fit: contain;
}

.nav .avatar-togglebtn-Container{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
}

.light-dark-container{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid gray 1px;
}

.light-dark-container .light-and-dark-toggle{
    width: 20%;
    object-fit: contain;
}

.avatar-container{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-container .avatar{
    width: 30%;
    object-fit: contain;
    border-radius: 50%;
}

.Invoice-Outer-container{
    width: 92%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* container which all the invoices can be veiwed as well as for creating and filtering invoices */

.invoice-Container{
    width: 90%;
    height: 99%;
}

.invoice-nav{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dddde1;
}

.invoice-Counter{
width: 40%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;

}

.invoice-Counter h1{
    font-size: 4vw;
    margin: 5px 0px;
}

.invoice-Counter h1,p{
    margin-left:10px;
}

.createInvoice{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.createInvoice button{
    width: 40%;
    height: 40%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7C5DFA;
    color: white;
    font-size: 0.9vw;
    margin: 0 auto;
    border: none;
}

.createInvoice select{
    width: 20px;
    border: none;
    background-color: transparent;
    margin: 0px 10px;
}

.newInvoice img{
    width: 25px;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    margin: 0px 8px;
}
/* invoices */

.invoices{
    width: 100%;
    height: 80%;
    padding: 1px 0px;
    background-color: #dddde1;
}

.invoice{
    width: 99%;
    height: 15%;
    background-color: white;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.invoice .invoice-id{
    font-weight: bold;
}

.invoice .invoice-amount{
    font-weight: bold;
  font-size: 1.7vw;
}

.status-container{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit{
    width: 5%;
    margin-left: 20px;
}

.editbutton{
display: none;
}



.invoice .invoice-status{
    background-color:  rgba(255,143,0,0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    border-radius: 10px;
    color: #FF8F00;
    font-size: 1vw;
}

/* .invoice-status p {
    font-size: 1vw;
} */

.invoice-status .dot{
    width: 1vw;
    height: 1vw;
    background-color: #FF8F00;
    border-radius: 50%;
    margin: 0px 5px;
}

@media only screen and (min-width: 2000px) {
    .createInvoice label, p{
        font-size: 1vw;
    }

    .createInvoice select{
        width: 1.1vw;
    }

    .newInvoice img{
        width: 1.2vw;
        background-color: white;
        border-radius: 50%;
        padding: 5px;
        margin: 0px 8px;
    }
}


@media only screen and (max-width: 1000px) {
    .Outer-Container .nav{
        width: 12%;
        height: 100%;
}

.Invoice-Outer-container{
    width: 88%;
    height: 100%;
   
}

.createInvoice{
    width: 50%;
}

.createInvoice button{
    width: 40%;
    height: 30%;
}


@media only screen and (max-width: 800px) {
    .Outer-Container{
        display: flex;
        flex-direction: column;
    }

    .Outer-Container .nav{
        width: 100%;
        height: 15%;
        display: flex;
        flex-direction: row;
        border-bottom-right-radius: 0%;
    }

    .Invoice-Outer-container{
        width: 100%;
        height: 100%;
    }

    .nav .logo-container{
        width: 20%;
        height: 100%;
        display: flex;
        flex-direction: column;
        border-bottom-right-radius: 10%;
        border-top-right-radius: 10%;
        overflow: hidden;
    }

    .logo-container .top-half{
        width: 100%;
        height: 50%;   
    }
    
    .logo-container .bottom-half{
        width: 100%;
        height: 50%;
        border-top-left-radius: 20%;
    }

    .nav .avatar-togglebtn-Container{
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .light-dark-container{
        width: 50%;
        height: 100%;
        border-bottom: none;
        border-right: solid gray 1px;
    }
    
    .light-dark-container .light-and-dark-toggle{
        width: 40%;
    }
    
    .avatar-container{
        width: 50%;
        height: 100%;
    }
    
    .avatar-container .avatar{
        width: 40%;
    }

    .invoice-Container{
        width: 90%;
        height: 99%;
        background-color: white;
    }
    .createInvoice{
        width: 50%;
    }

    .createInvoice button{
        width: 40%;
        height: 35%;
        font-size: 9px;
    }

    .invoice .invoice-status{
        width: 60%;
        font-size: 1.5vw;
    }

    .invoice .invoice-amount {
        font-weight: bold;
        font-size: 3vw;
    }
}

@media only screen and (max-width: 600px) {
    .createInvoice{
        width: 55%;
    }

    .invoice-Container{
        width: 99%;
        height: 99%;
        background-color: white;
    }

    .invoice-Container p, label {
        font-size: 12px;
    }

    .invoice .invoice-status{
        width: 70%;
        font-size: 1;
    }

    .edit {
        width: 5%;
        margin-left: 10px;
    }

  
}

@media only screen and (max-width: 500px) {
    .invoice {
        width: 90%;
        height: auto;
        background-color: white;
        margin: 10px auto;
        display: flex;
        justify-content: baseline;
        align-items: center;
        flex-wrap: wrap;
    }

    .invoice-id{
        width: 40%;
        margin: 5px;
    }

    .invoice-due{
        width: 40%;
        margin: 5px;
    }

    .customer-name{
        width: 40%;
        margin: 5px;
    }

    .invoice-amount{
        width: 40%;
        margin: 5px;
    }

    .status-container{
            width: 40%;
            height: 70px;
            margin: 5px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
    } 

    .editbutton{
        width: 40%;
        margin: 10px;
        background-color: #252945;
        border: none;
        padding: 8px 0px;
        color: white;
        border-radius: 10px;
        display: block;
    }

    .edit{
        display: none;
    }




}

@media only screen and (max-width: 400px) {
    .nav .logo-container{
        width: 30%;
    }

    .nav .avatar-togglebtn-Container{
        width: 40%;
        height: 100%;
}

.invoice-Counter {
    width: 30%;
    height: 100%;
}

.createInvoice{
    width: 60%;
}

}}