/* These color Palletes will be passed to the root element which is Html */
:root {
    --primary-color: black;
    --primary-variant: #858bb2;
    --secondary-color: #f8f8fbb6;
    --on-background: #f6f6f6;
    --on-background-2: #FFFFFF;
    --on-background-3: #373b52;
    --on-background-4:#1E2139;
}

[data-theme="light"] {
    --primary-color: black;
    --primary-variant: #858bb2;
    --secondary-color: #f8f8fbb6;
    --on-background: #f6f6f6;
    --on-background-2: #FFFFFF;
    --on-background-3: #373b52;
    --on-background-4:#1E2139;
}

[data-theme="dark"] {
    --primary-color: white;
    --primary-variant: #DFE3FA;
    --secondary-color: #252945;
    --on-background: #141625;
    --on-background-2: #1E2139;
    --on-background-3: #0C0E16;
    --on-background-4:#f6f6f6;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    overflow: -moz-scrollbars-none
}

body{
    background-color: var(--on-background);
    min-height: 100vh;
    height: auto;
    transition: 1s ease-in-out;
    overflow: scroll;
    scrollbar-width: none;
    position: relative;
}

body::-webkit-scrollbar {
    display: none;
    -webkit-overflow-scrolling: touch;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirmationDiv{
    width: 30%;
    height: 30%;
    background-color: var(--on-background);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 1vw;
}

.deletionId{
    color: darkblue;
    font-weight: bold;
}
.buttons{
    width: 100%;
    height: 33.3%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.deleteConfirmation{
    background-color: red;
    color: black;
}

.cancelConfirmation{
    background-color: lightblue;
    color: white
}

.confirmationDiv h1,p{
    height: 30%;
    width: 70%;
    margin: 5px auto;
}

.confirmationDiv h1{
    font-size: 2.3vw;
}

.confirmationDiv button{
    width: 35%;
    padding: 1vw 0px;
    border: none;
    border-radius: 1.5vw;
    font-size: 1vw;
    margin: 0px 10px;
    font-size: 1vw;
}

.Outer-Container{
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    
}

.Outer-Container .nav{
    width: 8%;
    height: 100%;
    background-color:#252945;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-bottom-right-radius: 3%;
    
    position: relative;
}

.form-container{
    width: 400%;
    height: 100vh;
    background-color: var(--on-background);
    position: absolute;
    left: 100%;
    z-index: 100;
    border-top-right-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform 400ms ease-in-out;
    overflow: scroll;
 
}

.displayForm{
    transform: scale(1, 1);
    transform-origin: left;
    transition: transform 500ms ease-in-out, background 1s ease-in-out;
    background-color: var(--on-background);
}



.form{
    width: 90%;
    height: 100%;
    background-color: var(--on-background);
    font-size: 1vw;
    transition: transform 500ms ease-in-out,background 1s ease-in-out;
    overflow: scroll;
}



.form-container::-webkit-scrollbar {
    display: none;
    -webkit-overflow-scrolling: touch;
}

.form::-webkit-scrollbar {
    display: none;
    -webkit-overflow-scrolling: touch;
}

.form-h1{
    height: auto;
}


.form h1{
    margin: 40px 0px;
}

.bill-from{
    margin: 10px 0px;
}

.bill-from p{
    margin: 20px 0px;
}

.bill-from label{
    color: gray;
}

.form-address{
    width: 100%;
    margin: 10px 0px;
    padding: 1vw 0px;
    border-radius: 5px;
    border: solid gray 1px;
}

.location-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexContainer{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 30%;
}

.flexContainer input{
    width: 100%;
    border-radius: 5px;
    border: var( --primary-variant) solid 1px;
    padding: 0.9vw 0px;
}

.bill-to{
    margin: 10px 0px;
}

.bill-to p{
    margin: 20px 0px;
}

.bill-to label{
    color: gray;
}

.bill-to input{
    width: 100%;
    border-radius: 5px;
    border: solid gray 1px;
    padding: 0.9vw 0px;
    margin: 10px 0px;
}

.invoice-detail{
  color: gray;
  margin: 10px 0px;
}

.date-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexContainer2{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 45%;
}

.flexContainer2 input{
    width: 100%;
    padding: 0.9vw 0px;
    border-radius: 5px;
}

.invoice-detail .form-project-description{
    width: 100%;
    padding: 0.9vw 0px;
    border-radius: 5px;
    margin: 10px 0px;
}

.invoice-item-list{
    width: 100%;
    height: auto;
}

.items-container{
    width: 100%;
    height: auto;
}

.item-header{
    width: 100%;
    height: auto;
    background-color: var(--on-background-2);
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    transition: 1s ease-in-out;
    color: var( --primary-color);
}

.item-header p{
    margin: 0px;
}

.item-header-name{
    width: 35%;
}

.item-header-qty{
    width: 15%;
}

.item-header-price{
    width: 25%;
}

.item-header-total{
    width: 25%;
}

.itemCard{
    width: 100%;
    height: auto;
    margin: 5px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-list-name{
    width: 30%;
    padding: 0.6vw 0px;
    border-radius: 5px;
    border: solid gray 1px;
}

.item-list-qty{
    width: 10%;
    padding: 0.6vw 0px;
    border-radius: 5px;
    border: solid gray 1px;
}

.item-list-price{
    width: 20%;
    padding: 0.6vw 0px;
    border-radius: 5px;
    border: solid gray 1px;
}

.totalinput{
    width: 15%;
    font-size: 1.3vw;
    color: black;
    overflow: scroll;
    display: flex;  
    justify-content: flex-start;
    align-items: center;
}

.totalinput::-webkit-scrollbar {
    display: none;
}

.pound{
    width: 10%;
    margin: 0 1px;
}

.item-list-total{
width: 90%;
margin: 0;
color: var( --primary-color);
}

.total::-webkit-scrollbar {
    display: none;
}

.delete-item{
    width: 3%;
    margin-right: 10px;
}
.new-item-btn{
    width: 100%;
    padding: 1vw 0px;
    border-radius: 1.5vw;
    margin: 10px auto;
    font-size: 1vw;
    border: none;
    background-color: var(--on-background-4);
    color: var(--on-background-2);
    transition: 300ms ease-in-out;

}

.bill-header{
    color: #7C5DFA;
    font-weight: bold;
}


.form-button-container{
    width: 100%;
    height: 20%;
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.validationMsg{
    position: absolute;
    top: 10;
    left: 0;
    color: red;
    font-weight: bold;
    display: none;
}

.validationMsg2{
    position: absolute;
    top: 10;
    right: 0;
    color: red;
    font-weight: bold;
    display: none; 
}

.showValidationMsg{
    display: block;
}

.Discard{
    width: 20%;
    padding: 1vw 0px;
    border: none;
    background-color: var(-secondary-color);
    border-radius: 1.5vw;
    font-size: 1vw;
}

.draft-save{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.draft-save button{
    width: 45%;
    padding: 1vw 0px;
    border: none;
    border-radius: 1.5vw;
    font-size: 1vw;
}

.Draft{
    background-color: #252945;
    color: white;
}

.Save{
    background-color: #7C5DFA;
    color: white;
}

.Cancel{
    background-color: #F6F6F6;
    display: none;
}

.SaveChanges{
    background-color: #7C5DFA;
    color: white;
    display: none;
}

.Validation{
    border: solid red 2px !important;
}

.buttonDisplayNone{
    display: none;
}

.buttonDisplay{
    display: block;
}

.form input{
    padding: 0.5vw 0;
    color: var(--primary-color);
    background-color: var( --on-background-2);
    border: var( --primary-variant) solid 1px;
    transition: 300ms ease-in-out;
}

.form input:focus {
    outline: none !important;
    border:1px solid white;
  }

.nav .logo-container{
    width: 100%;
    height: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom-right-radius: 20%;
    background-color: #7C5DFA;
    position: relative;
}

.logo-container .top-half{
    width: 100%;
    height: 50%;
    background-color: #7C5DFA;
  
}

.logo-container .bottom-half{
    width: 100%;
    height: 50%;
    background-color: #9277FF;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

.nav .logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40%;
    object-fit: contain;
}

.nav .avatar-togglebtn-Container{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
}

.light-dark-container{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid gray 1px;
}


.light-dark-container .light-and-dark-toggle{
    width: 20%;
    object-fit: contain;
}

.light-dark-container .switch{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.switch input{
    visibility: hidden;
    position:absolute;
}

.avatar-container{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-container .avatar{
    width: 30%;
    object-fit: contain;
    border-radius: 50%;
}

.Invoice-Outer-container{
    width: 92%;
    height: 100%;
    display: flex;
    background-color: var(--on-background);
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    transition: 1s ease-in-out;
}

/* container which all the invoices can be veiwed as well as for creating and filtering invoices */

.invoice-Container{
    width: 80%;
    height: 99%;
    margin: 0px auto;
    transition: 1s ease-in-out;
    transform: translateX(0vw);
    overflow: scroll;
}

.Invoice-description{
    width: 70%;
    height: 99%;
    transform: translateX(100vw);
    position: absolute;
    transition: 1s ease-in-out;
    overflow: scroll;
}

.Invoice-description::-webkit-scrollbar {
    display: none;
}

.slideout{
    transform: translateX(-100vw);
    transition: 1s ease-in-out;
}

.slidein{
    transform: translateX(0vw);
    transition: 1s ease-in-out;
}

.invoice-nav{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--on-background);
    transition: 1s ease-in-out;
}

.invoice-Counter{
width: 40%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;

}

.invoice-Counter p{
    font-size: 1.3vw;
}



.invoice-Counter h1{
    font-size: 4vw;
    margin: 0px 0px 10px 0px;
    height: auto;
    color: var(--primary-color);
    transition: 1s ease-in-out;
}





.createInvoice{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.createInvoice label{
        color: var(--primary-color);
        transition: 1s ease-in-out;
}

.createInvoice button{
    width: 40%;
    height: 40%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7C5DFA;
    color: white;
    font-size: 0.9vw;
    margin: 0 auto;
    border: none;
}

.createInvoice select{
    width: 20px;
    border: none;
    background-color: transparent;
    margin: 0px 10px;
    
}

.newInvoice img{
    width: 25px;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    margin: 0px 8px;
}
/* invoices */

.invoices{
    width: 100%;
    height: auto;
    padding: 1px 0px;
    background-color: var(--on-background);
    transition: 1s ease-in-out;
}

.invoice-Container::-webkit-scrollbar {
    display: none;
    -webkit-overflow-scrolling: touch;
}

.invoice{
    width: 99%;
    height: 15%;
    background-color: var(--on-background-2);
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    transition: 400ms ease-in;
    transition: 1s ease-in-out;
}

.invoice:hover{
    border: solid gray 2px;
    
}

.invoice .invoice-id{
    font-weight: bold;
    width: 25%;
    color: var(--primary-color);
    transition: 1s ease-in-out;
    margin-left: 10px;
    font-size: 1.6vw;
}

.invoice .invoice-amount{
    font-weight: bold;
  font-size: 1.6vw;
  width: 25%;
  color: var(--primary-color);
  transition: 1s ease-in-out;
  margin-left: 10px;
}



.status-container{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.invoice-due{
    width: 25%;
    color: var(--primary-variant);
    transition: 1s ease-in-out;
    font-size: 1.3vw;
}

.customer-name{
    width: 25%;
    color: var(--primary-variant);
    transition: 1s ease-in-out;
    font-size: 1.3vw;
}

.edit{
    width: 5%;
    margin-left: 20px;
    cursor: pointer;
}

.editbutton{
display: none;
}



.invoice .invoice-status{
    background-color:  rgba(212, 189, 158, 0.15);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 50%;
    border-radius: 10px;
    color: #FF8F00;
    font-size: 1vw;
}

.statusInvoice{
    font-size: 1.1vw;
}
/* .invoice-status p {
    font-size: 1vw;
} */

.invoice-status .dot{
    width: 1vw;
    height: 1vw;
    background-color: #FF8F00;
    border-radius: 50%;
    margin: 0px 5px;
}

/* section for viewing invoices. editing and deleting. */

.invoice-header{
width: 99%;
height: 15%;
display: flex;
justify-content: space-between;
align-items: center;
border-radius: 1vw;
margin: 20px auto;
overflow: hidden;
background-color:var(--on-background-2);
transition: 1s ease-in-out;
}



.back-btn{
    width: 1%;
}

.description-status{
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3vw;
}

.description-status p{
    margin: 0px 20px;
    color: gray;
}

.status-container2{
    width: 40%;
    height: 40%;
    margin: 0px 20px;
    background-color:  rgba(255,143,0,0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #FF8F00;
}

.dot2{
    width: 0.8vw;
    height: 0.8vw;
    background-color: #FF8F00;
    border-radius: 50%;
    margin: 0px 0px;
}

.button-container{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button-container button{
    font-size: 1vw;
    transition: 1s ease-in-out;
}

.button-edit{
    width: 20%;
    height: 40%;
    background-color:#f8f8fbb6;
    border-radius: 1.5vw;
    border: solid #dfe3fa 1px;
    color: gray;
}

.button-delete{
    width: 25%;
    height: 40%;
    background-color: #ec5757;
    border-radius: 1.5vw;
    border: none;
    color: white;
}

.button-paid{
    width: 30%;
    height: 40%;
    background-color: #7C5DFA;
    border-radius: 1.5vw;
    border: none;
    color: white;
}

.button-container2{
    display: none;
}

/* container for where the description of the invoice will be stored */
.invoice-body{
    width: 99%;
height: auto;
min-height: 80%;
border-radius: 1vw;
margin: 0px auto;
background-color:var(--on-background-2);
transition: 1s ease-in-out;
}

.invoice-body h1{
    color: var(--primary-color);
    transition: 1s ease-in-out;
}

.invoice-body p{
    color: var(--primary-variant);
    transition: 1s ease-in-out;
}

.project-info{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.proj-id-container{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 50px;
}

.proj-id-container h1{
    margin: 5px 0px;
    font-size:2vw;
    
}

.proj-id-container p{
    font-size: 1.2vw;
}

.clientAddress-container{
    width: 30%;
    height: 100%;
    margin: 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.clientAddress-container p{
    font-size: 1.2vw;
}



.clientAddress-container p{
    margin: 3px 0px;
}

.customer-info{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
}

.customer-info p{
    color: var(--primary-variant);
    transition: 1s ease-in-out;
    font-size: 1.2vw;
}

.customer-info h1{
    font-size: 1.8vw;
}


.invoice-dates{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 50px;
}

.invoice-dates p,h1{
    height: 25%;
}


.senderAddress-container .bill-to-p1{
    height: 25%;
}

.senderAddress-container h1{
    height: 25%;
}

.senderAddress-container .bill-to-p{
    height: 15%;
}

.send-to p{
    height: 25%;
}

.send-to h1{
    height: 75%;
}

.senderAddress-container{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 50px;
}

.senderAddress p{
    margin:7px 0px;
}

.email-container{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.send-to{
    width: 100%;
    height: 100%;
}



.project-recipt{
        width: 90%;
        height: auto;
        min-height: 20%;
        margin: 50px auto 0px auto;
        background-color: var( --on-background);
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        transition: 1s ease-in-out;
}

.recipt-header{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
}

.recipt-header .item{
    width: 35%;
}

.recipt-header .qty,.price,.total{
    width: 21%;
}

.recipt-header .total{
    margin-right: 10px;
}

.recipt{
    width: 100%;
    height: 10%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
      color: var(--primary-color);
    transition: 1s ease-in-out;
}

.recipt p{
    color: var(--primary-color);
    transition: 1s ease-in-out;
    font-weight: bold;

}

.recipt .item-name{
    width: 35%;
}

.bill{
    width: 90%;
    height: auto;
    min-height: 20%;
    background-color: var(--on-background-3);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    transition: 1s ease-in-out;
}

.item-quantity,.item-price,.item-total{
    width: 21%;
}

.bill-total{
    margin-right: 10px;
    color: white !important;
}

.form input,p{
    font-size: 1.1vw;
}

.firstLetter:before {
    color: blue;
    content: "#";
    font-weight: bold;
}
@media only screen and (min-width: 2000px) {
    .createInvoice label, p{
        font-size: 1vw;
    }

    .createInvoice select{
        width: 1.1vw;
    }

    .newInvoice img{
        width: 1.2vw;
        background-color: white;
        border-radius: 50%;
        padding: 5px;
        margin: 0px 8px;
    }
}


@media only screen and (max-width: 1000px) {
    .Outer-Container .nav{
        width: 12%;
        height: 100%;
}

.Invoice-Outer-container{
    width: 88%;
    height: 100%;
   
}

.createInvoice{
    width: 50%;
}

.createInvoice button{
    width: 40%;
    height: 30%;
}

.description-status p{
    margin: 0px 10px;
}

.dot2{
    margin: 0px 0px;
}

.description-status{
    font-size: 1.5vw;
}

.button-container button{
    font-size: 1.5vw;
}

.senderAddress p {
    margin: 7px 0px;
    font-size: 1.6vw;
}

.clientAddress-container p{
    font-size: 1.6vw;
}

.proj-id-container p{
    font-size: 1.6vw;
}

.form {
    width: 95%;
    
}
.statusInvoice {
    font-size: 1.2vw;
}

.invoice .invoice-amount{
  font-size: 2vw;
}

.invoice .invoice-id{
    font-size: 2vw;
}

.invoice-due{
    font-size: 1.6vw;
}

.customer-name{
    font-size: 1.6vw;
}

.invoice-Counter p{
    font-size: 1.6vw;
}

.invoice-Counter h1{
    font-size: 4vw;
  
}
.customer-info {
    width: 100%;
    height: 25%;
}

.customer-info p {
    font-size: 2vw;
}

.Invoice-description {
    width: 85%;
    height: 99%;

}
.invoice .invoice-status{
    width: 60%;
    height: 40%;
    font-size: 1.5vw;
}

.confirmationDiv{
    width: 40%;
    height: 30%;
    border-radius: 1vw;
}

.buttons{
    width: 100%;
    height: 33.3%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.deleteConfirmation{
    background-color: red;
    color: black;
}

.cancelConfirmation{
    background-color: lightblue;
    color: white
}

.confirmationDiv h1,p{
    height: 30%;
    width: 70%;
    margin: 5px auto;
}

.confirmationDiv h1{
    font-size: 2.5vw;
}

.confirmationDiv p{
    font-size: 1.5vw;
}

.confirmationDiv button{
    width: 35%;
    padding: 1vw 0px;
    border: none;
    border-radius: 1.5vw;
    font-size: 1vw;
    margin: 0px 10px;
    font-size: 1.3vw;
}


}


@media only screen and (max-width: 800px) {
    .Outer-Container{
        display: flex;
        flex-direction: column;
    }

    .Outer-Container .nav{
        width: 100%;
        height: 15%;
        display: flex;
        flex-direction: row;
        border-bottom-right-radius: 0%;
    }

    .nav .form-container {
        width: 80%;
        position: absolute;
        left: 0%;
        top: 100%;
    }

    .form p, label,h1{
        font-size: 2.5vw;
    }

    .form button{
        padding: 2vw 0px;
        font-size: 2vw;
    }


    .Invoice-Outer-container{
        width: 100%;
        height: 100%;
    }

    .nav .logo-container{
        width: 20%;
        height: 100%;
        display: flex;
        flex-direction: column;
        border-bottom-right-radius: 10%;
        border-top-right-radius: 10%;
        overflow: hidden;
    }

    .logo-container .top-half{
        width: 100%;
        height: 50%;   
    }
    
    .logo-container .bottom-half{
        width: 100%;
        height: 50%;
        border-top-left-radius: 20%;
    }

    .nav .avatar-togglebtn-Container{
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .light-dark-container{
        width: 50%;
        height: 100%;
        border-bottom: none;
        border-right: solid gray 1px;
    }
    
    .light-dark-container .light-and-dark-toggle{
        width: 40%;
    }
    
    .avatar-container{
        width: 50%;
        height: 100%;
    }
    
    .avatar-container .avatar{
        width: 40%;
    }

    .invoice-Container{
        width: 90%;
        height: 99%;
    }
    .createInvoice{
        width: 50%;
    }

    .createInvoice button{
        width: 40%;
        height: 35%;
        font-size: 9px;
    }

    .invoice .invoice-status{
        width: 60%;
        font-size: 2vw;
    }


    .invoice .invoice-amount{
        font-size: 2.8vw;
      }
      
      .invoice .invoice-id{
          font-size: 2.8vw;
      }
      
      .invoice-due{
          font-size: 2.3vw;
      }
      
      .customer-name{
          font-size: 2.3vw;
      }

    .description-status{
        font-size: 2.1vw;
    }

    .invoice-Counter p{
        font-size: 2vw;
    }

    .invoice-Counter h1{
        font-size: 4.5vw;
      
    }

    .Invoice-description{
        width: 90%;
        height: 99%;
    }

    .Invoice-description h1,p{
        margin: 2px 0px;
    }

    .Invoice-description h1{
        font-size: 2.7vw;
    }

    .button-container button{
        font-size: 1.7vw;
    }

    .proj-id-container {
        width: 30%;
        margin: 0px 20px;
    }

    .clientAddress-container {
        margin: 0px 20px;
    }

    .invoice-dates {
        width: 25%;
        margin: 0px 20px;
    }

    /* .invoice-Counter h1, p {
        margin-left: 0px;
        margin: 2px 0px;
    } */

    

    .senderAddress-container {
        width: 30%;
        margin: 0px 20px;
    }

    .email-container{
    width: 40%;
    height: 100%;
    margin: 0px 20px;
}

.project-recipt{
    width: 95%;
    height: auto;
    padding:0px 10px;
}

.bill{
    width: 95%;
    padding:0px 10px;
}

.invoice-header p{
    font-size: 2.2vw;
}

.statusInvoice {
    font-size: 2vw;
}

.form input {
    padding: 1.4vw 0;
    font-size: 16px;
    
}

.customer-info {
    width: 100%;
    height: 25%;
}

.customer-info p {
    font-size: 2vw;
  
}

.clientAddress-container p{
    font-size: 2vw;
}

.proj-id-container p{
    font-size: 2vw;
}

.confirmationDiv{
    width: 40%;
    height: 25%;
    border-radius: 1vw;
}

.buttons{
    width: 100%;
    height: 33.3%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.deleteConfirmation{
    background-color: red;
    color: black;
}

.cancelConfirmation{
    background-color: lightblue;
    color: white
}

.confirmationDiv h1,p{
    height: 30%;
    width: 70%;
    margin: 5px auto;
}

.confirmationDiv h1{
    font-size: 2.8vw;
}

.confirmationDiv p{
    font-size: 1.9vw;
}

.confirmationDiv button{
    width: 35%;
    padding: 1vw 0px;
    border: none;
    border-radius: 1.5vw;
    font-size: 1vw;
    margin: 0px 10px;
    font-size: 1.5vw;
}


    
}

@media only screen and (max-width: 600px) {
    .createInvoice{
        width: 55%;
    }

    .invoice-Container{
        width: 99%;
        height: 99%;
    }

    .invoice-Container label {
        font-size: 12px;
    }

    .invoice .invoice-status{
        width: 70%;
        font-size: 1;
    }

    .edit {
        width: 5%;
        margin-left: 10px;
    }

    .description-status {
        width: 40%;
    }

    .button-container {
        width: 55%;
    }

    .button-container button{
        font-size: 2vw;
    }

    .project-info {
        width: 100%;
        height: 40%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 30px;
    }

    .proj-id-container {
        width: 100%;
        height: 50%;
        margin: 0px 0px;
        padding-left: 10px;
    }


    .clientAddress-container {
        width: 100%;
        height: 50%;
        justify-content: center;
        align-items: flex-start;
        margin: 0px 0px;
        padding-left: 10px;
    }

    .customer-info {
        width: 100%;
        height: 45%;
        display: flex;
        flex-wrap: wrap;
    }

   
    .invoice-dates {
        width: 45%;
        height: 50%;
        margin: 0px 0px;
        padding-left: 10px;
    }

    .senderAddress-container {
        width: 45%;
        height: 50%;
        margin: 0px 0px;
        padding-left: 10px;
    }

    .email-container {
        width: 100%;
        height: 50%;
        margin: 20px 0px;
        padding-left: 10px;
    }

    .Invoice-description h1{
        font-size: 4vw;
    }

    .invoice-header p{
        font-size: 2.5vw;
    }

    .invoice .invoice-amount{
        font-size: 3vw;
      }
      
      .invoice .invoice-id{
          font-size: 3vw;
      }
      
      .invoice-due{
          font-size: 2.6vw;
      }
      
      .customer-name{
          font-size: 2.6vw;
      }

      .statusInvoice {
        font-size: 2.3vw;
    }

    .invoice-Counter p{
        font-size: 2vw;
    }

    .invoice-Counter h1{
        font-size: 5.1vw;
      
    }

    .form p, label, h1 {
        font-size: 3vw;
    }

    .customer-info {
        width: 100%;
        height: 30%;
    }

    .customer-info p {
        font-size: 2vw;
        margin: 5px 0px;
    }

    .clientAddress-container p{
        font-size: 2vw;
    }
    
    .proj-id-container p{
        font-size: 2vw;
    }
   
    
.confirmationDiv{
    width: 50%;
    height: 25%;
    border-radius: 1vw;
}

.buttons{
    width: 100%;
    height: 33.3%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.deleteConfirmation{
    background-color: red;
    color: black;
}

.cancelConfirmation{
    background-color: lightblue;
    color: white
}

.confirmationDiv h1,p{
    height: 30%;
    width: 70%;
    margin: 5px auto;
}

.confirmationDiv h1{
    font-size: 3.2vw;
}

.confirmationDiv p{
    font-size: 2.2vw;
}

.confirmationDiv button{
    width: 35%;
    padding: 1vw 0px;
    border: none;
    border-radius: 1.5vw;
    font-size: 1vw;
    margin: 0px 10px;
    font-size: 1.8vw;
}

  
}

@media only screen and (max-width: 500px) {
    .invoice {
        width: 90%;
        height: auto;
        margin: 10px auto;
        display: flex;
        justify-content: baseline;
        align-items: center;
        flex-wrap: wrap;
    }

    .invoice-id{
        width: 40%;
        margin: 5px;
    }

    .invoice-due{
        width: 40%;
        margin: 5px;
    }

    .customer-name{
        width: 40%;
        margin: 5px;
    }

    .invoice-amount{
        width: 40%;
        margin: 5px;
    }

    .status-container{
            width: 45%;
            height: 70px;
            margin: 5px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
    } 

    .editbutton{
        width: 45%;
        margin: 10px;
        background-color: #252945;
        border: none;
        padding: 8px 0px;
        color: white;
        border-radius: 10px;
        display: block;
    }

    .edit{
        display: none;
    }

    
    .description-status{
        width: 100%;
        height: 100%;
        font-size: 3.7vw;
        justify-content: space-between;
    }

    .status-container2 {
        width: 40%;
        height: 40%;
        margin: 0px 0px;
    }

    .button-container{
        display: none;
    }

    .button-container2{
        width: 99%;
        height: 15%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .nav .form-container {
        width: 100%;
        height: 85vh;
    }

    .form {
        width: 95%;
    }

    .invoice .invoice-id,.invoice-due,.customer-name{
        width: 45%;
        padding: 10px 0px;
    }

    .invoice .invoice-amount{
        width: 45%;
        padding: 10px 0px;
    }

    .description-status {
        padding: 0px 5px;
    }

    .proj-id-container{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0px 10px;
    }

    .customer-info p{
        font-size: 2.7vw;
    }

    .project-recipt p{
        font-size: 2.7vw;
    }

    .bill p{
        font-size: 2.3vw;
    }

  

.project-info p{
    font-size: 2.5vw;
}

   .clientAddress-container .p{
    font-size: 50px;
   }

   .invoice-status .dot {
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
    margin: 0px 5px;
}

.form input {
    padding: 2vw 0;
    font-size: 16px;
    
}

.invoice .invoice-amount{
    font-size: 3.7vw;
  }
  
  .invoice .invoice-id{
      font-size: 3.7vw;
  }
  
  .invoice-due{
      font-size: 3.4vw;
  }
  
  .customer-name{
      font-size: 3.4vw;
  }

  .statusInvoice {
    font-size: 3vw;
}

.invoice-Counter p{
    font-size: 3vw;
}

.invoice-Counter h1{
    font-size: 6vw;
  
}


.confirmationDiv{
    width: 60%;
    height: 25%;
    border-radius: 1vw;
}

.buttons{
    width: 100%;
    height: 33.3%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.deleteConfirmation{
    background-color: red;
    color: black;
}

.cancelConfirmation{
    background-color: lightblue;
    color: white
}

.confirmationDiv h1,p{
    height: 30%;
    width: 70%;
    margin: 5px auto;
}

.confirmationDiv h1{
    font-size: 3.5vw;
}

.confirmationDiv p{
    font-size: 2.7vw;
}

.confirmationDiv button{
    width: 35%;
    padding: 1vw 0px;
    border: none;
    border-radius: 1.5vw;
    font-size: 1vw;
    margin: 0px 10px;
    font-size: 2.3vw;
}
  
}

@media only screen and (max-width: 400px) {
    .nav .logo-container{
        width: 30%;
    }

    .nav .avatar-togglebtn-Container{
        width: 40%;
        height: 100%;
}

.invoice-Counter {
    width: 30%;
    height: 100%;
}

.invoice-Counter p{
    margin: 0px 5px;
}

.createInvoice{
    width: 60%;
}


.confirmationDiv{
    width: 80%;
    height: 30%;
    border-radius: 1vw;
}

.buttons{
    width: 100%;
    height: 33.3%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.deleteConfirmation{
    background-color: red;
    color: black;
}

.cancelConfirmation{
    background-color: lightblue;
    color: white
}

.confirmationDiv h1,p{
    height: 30%;
    width: 70%;
    margin: 5px auto;
}

.confirmationDiv h1{
    font-size: 4vw;
}

.confirmationDiv p{
    font-size: 3.5vw;
}

.confirmationDiv button{
    width: 35%;
    padding: 1vw 0px;
    border: none;
    border-radius: 1.5vw;
    font-size: 1vw;
    margin: 0px 10px;
    font-size: 2.9vw;
}


}

@media only screen and (max-width: 351px) {
.invoice {
    width: 90%;
    height: auto;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.invoice .invoice-id, .invoice-due, .customer-name {
    width: 90%;
    padding: 10px 0px;
    text-align: center;
}

.invoice .invoice-amount {
    width: 90%;
    padding: 10px 0px;
    text-align: center;
}

.status-container {
    width: 90%;
    height: 70px;
    margin: 5px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.newInvoice img {
    width: 18px;
    border-radius: 50%;
    padding: 5px;
    margin: 0px 8px;
}

.createInvoice button {
    width: 40%;
    height: 35%;
    font-size: 7px;
}

.invoice .invoice-amount{
    font-size: 4.5vw;
  }
  
  .invoice .invoice-id{
      font-size: 4.5vw;
  }
  
  .invoice-due{
      font-size: 4vw;
  }
  
  .customer-name{
      font-size: 4vw;
  }

  .statusInvoice {
    font-size: 4vw;
}

.invoice-Counter p{
    font-size: 3vw;
}

.invoice-Counter h1{
    font-size: 6vw;
  
}
}